@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michiel Hendrix<br />
    Venray, 5803KG<br />
    <abbr title="Phone">0630122884</abbr>
    @*425.555.0100*@
</address>

<address>
	@*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />*@
	<strong>My email:</strong> <a href="mailto:Marketing@example.com">m.hendrix@sintlucasedu.nl</a>
</address>