@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Portfolio website</h1>
	<p class="lead">This is a website about my projects</p>
</div>

<div class="row">
    <div class="body-content-area top-div-Padding">
        <div class="top-divs">
            <div class="top-divs-h">
                About Me
            </div>
            <div class="top-left-div-picture">
            </div>
            <div class="top-divs-text-right">
                Welcome to my portfolio, my name is Michiel Hendrix. I'm studying gamedevelopment at SintLucas.
                This is my final year.
            </div>
        </div>
    </div>
    <div class="body-content-area top-div-Padding">
        <div class="top-divs">
            <div class="top-divs-h">
                My Skills
            </div>
            <div class="top-div-left-picture-top-right">
                <div class="top-divs-text-top-right">
                    Advanced
                </div>
            </div>
            <div class="top-div-left-picture-top">
                <div class="top-divs-text-top">
                    Advanced

                </div>
            </div>
            <div class="top-div-left-picture-center">
                <div class="top-divs-text-center">
                    Advanced
                </div>
            </div>
            <div class="top-div-left-picture-botton">
                <div class="top-divs-text-botton">
                    Advanced
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mid-body-content">  
</div>